{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "debug": false,
        "targets": {
          "browsers": ["IE 11"]
        }
      }
    ]
  ]
}